* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

button {
  background-color: rgb(20, 20, 20);
  color: white;
  border: none;
  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.15s;
}


button:hover {
  opacity: 0.9;
}